<%= provide :title, "Nos Activités" %>
<!-- Page Content -->
 <div class="container">

     <!-- Page Heading/Breadcrumbs -->
     <div class="row">
         <div class="col-lg-12">
             <h1 class="page-header">Nos activités
             </h1>
             <ol class="breadcrumb">
               <li>
                 <%= link_to "Accueil", root_path %>
               </li>
               <li>
                 <%= link_to "Nos activités", activities_path, class: 'active' %>
               </li>
             </ol>
         </div>
     </div>
     <!-- /.row -->

     <hr>
     <!-- Activities -->
     <div class="row" id="ligne1">
         <div class="col-md-4 text-center">
             <div class="thumbnail">
                 <img class="img-responsive" src="maquette/action_de_rue.png" alt="Action de rue">
                 <div class="caption cap_1">
                     <h3>ACTION RUE</h3>
                     <p>
                       Elle consiste à faire des descentes dans les lieux où se trouvent les jeunes en question. Durant ces descentes, les animateurs mettent surtout l’accent sur la sensibilisation qui vise à faire prendre conscience des conditions difficiles dans lesquelles ils vivent, et à les aider à en sortir.
                     </p>
                     <p>
                       L’activité principale en dehors des entretiens et des sensibilisations reste l’application de soins au niveau des points de chute.
                     </p>
                 </div>
             </div>
         </div>
         <div class="col-md-4 text-center">
             <div class="thumbnail">
                 <img class="img-responsive" src="maquette/actions_recreatives.png" alt="Journées recreatives">
                 <div class="caption cap_1">
                     <h3>JOURNÉES RÉCRÉATIVES<br>
                     </h3>
                     <p>
                       Ce sont des journées exceptionnelles, qui sont généralement organisées pour redonner goût à la vie à ces jeunes.
                     </p>
                     <p>
                       Ce sont par exemple les matches de football et d’autres jeux de compétitions et d’esprit.
                     </p>
                 </div>
             </div>
         </div>
         <div class="col-md-4 text-center">
             <div class="thumbnail">
                 <img class="img-responsive" src="maquette/activites_tech_manu.png" alt="Activités techniques et manuelles">
                 <div class="caption cap_1">
                     <h3>LES ACTIVITÉS TECHNIQUES ET MANUELLES</h3>
                     <p>
                       Les A.T.M sont à la fois divertissantes et instructives, elles permettent à tous de faire quelque chose avec ses doigts.
                     </p>
                     <p>
                       Plusieurs essaie ont déjà été de francs succès: la teinture de t-shirts, la fabrication de portes clés en perles, les dessins. Bien des projets sont déjà en trains de mûrir.
                     </p>
                 </div>
             </div>
         </div>
       </div>
     <div class="row" id="ligne2">
         <div class="col-md-4 text-center">
             <div class="thumbnail">
                 <img class="img-responsive" src="maquette/soins.JPG" alt="soins">
                 <div class="caption cap_2">
                     <h3>LES SOINS</h3>
                     <p>
                       Juste donner des soins à la mesure du possible lorsqu’une blessure ou des problèmes de santé se présentent. Il arrive également que des cas graves soient évacués vers des structures de santés plus appropriées.
                     </p>
                 </div>
             </div>
         </div>
         <div class="col-md-4 text-center">
             <div class="thumbnail">
                 <img class="img-responsive" src="maquette/sensibilisation.JPG" alt="sensibilisation">
                 <div class="caption cap_2">
                     <h3>LES SENSIBILISATIONS</h3>
                     <p>
                       Le principal objectif des actions rue et aussi au sein du centre reste la sensibilisation des jeunes sur les dangers de la vie en rue.
                     </p>
                     <p>
                       D’abord par la conscientisation sur leurs conditions de vie, les problèmes qu’ils rencontrent et les dangers qu’ils courent.
                     </p>
                     <p>
                       En fond le tout est de leur faire comprendre que quelles que soient les difficultés rencontrées de par le passé, ils doivent avant tout penser à sortir de la rue et de laisser tomber les mauvaises habitudes.
                     </p>
                 </div>
             </div>
         </div>
         <div class="col-md-4 text-center">
             <div class="thumbnail">
                 <img class="img-responsive" src="maquette/ecoute.jpg" alt="écoute">
                 <div class="caption cap_2">
                     <h3>LES ECOUTES</h3>
                     <p>
                       Elles consistent à permettre à l’enfant de dévoiler ses maux, à dire son véritable identité et à donner l’adresse de ses parents.
                     </p>
                     <p>
                       Cette phase aussi vous permet de créer un rapport de confiance avec l’enfant ou le jeune, mais aussi à travailler sur le choix de son projet de vie.
                     </p>
                     <p>
                       Durant ses écoutes, les animateurs mettent surtout l’accent sur la sensibilisation qui vise à faire prendre conscience aux jeunes des conditions difficiles dans lesquelles ils vivent, et à les aider à en sortir.
                     </p>
                 </div>
             </div>
         </div>
     </div>
     <div class="row" id="ligne3">
         <div class="col-md-4 text-center">
             <div class="thumbnail">
                 <img class="img-responsive" src="maquette/mediation.jpg" alt="Médiation">
                 <div class="caption cap_3">
                     <h3>LES MÉDIATIONS</h3>
                     <p>
                       Une fois les écoutes terminées, il s’agit désormais de vérifier les mots des jeunes, ensuite d’établir un contact productif avec leurs proches.
                     </p>
                     <p>
                       Ceci entre à la fois dans le cadre d’une collecte supplémentaire d’informations et d’un rapprochement pour trouver solution aux problèmes passés et ainsi permettre le retour en famille si le besoin se fait toujours sentir.
                     </p>
                     <p>
                       Le placement au centre peut aussi s’avérer une nécessité durant cette phase.
                     </p>
                 </div>
             </div>
         </div>
         <div class="col-md-4 text-center">
             <div class="thumbnail">
                 <img class="img-responsive" src="maquette/hebergement_0.png" alt="Hebergement">
                 <div class="caption cap_3">
                     <h3>HÉBERGEMENT</h3>
                     <p>
                       Il consiste à héberger un enfant ou jeune pour mieux préparer son retour en famille.
                     </p>
                     <p>
                       Il permet aussi aux animateurs de prendre le temps nécessaire pour faire la médiation mais aussi préparer la famille à bien accueillir leur enfant.
                     </p>
                     <p>
                       L’hébergement permet aussi de stabiliser l’enfant ou le jeune afin de lui rappeler les notions positive de vie en famille.
                     </p>
                 </div>
             </div>
         </div>
         <div class="col-md-4 text-center">
             <div class="thumbnail">
                 <img class="img-responsive" src="maquette/retour_en_famille.png" alt="Retour en famille">
                 <div class="caption cap_3">
                     <h3>LES RETOURS EN FAMILLE</h3>
                     <p>
                       Lorsque toutes les conditions ont été réunies pour que le jeune revienne chez lui, le centre peut enfin procéder au retour en famille. C’est généralement accompagné d’un ou deux animateurs.
                     </p>
                 </div>
             </div>
         </div>
     </div>
     <div class="row" id="ligne4">
       <div class="col-md-4 text-center">
           <div class="thumbnail">
               <img class="img-responsive" src="maquette/suivis.png" alt="Suivis">
               <div class="caption">
                   <h3>LES SUIVIS</h3>
                   <p>
                     Ils représentent la dernière étape dans le processus de réinsertion: des visites auprès des familles des jeunes qui ont été retournés, afin de s’assurer que l’enfant est mis dans de bonnes conditions et peut sans problèmes poursuivre son projet de vie.
                   </p>
               </div>
           </div>
       </div>
     </div>
</div>
