<%= provide :title, "A Propos" %>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">A Propos
                </h1>
                <ol class="breadcrumb">
                    <li>
                      <%= link_to "Accueil", root_path %>
                    </li>
                    <li>
                      <%= link_to "A propos", apropos_path, class: 'active' %>
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="">


          <!-- Intro Content -->
          <div class="row">
            <div class="col-md-6">
              <img class="img-responsive" src="maquette/aprer_centre_rufisque.jpg" alt="">
            </div>
            <div class="col-md-6">
              <h2></h2>
                <p>Situé dans la Citée André keny Rufisque, le Centre Terrou Xaleyi, est à quelques mois d’existence.</p>
                <p>Vivant sous la volonté de trois jeunes (Atabou DIEME, Moussa COLY, Moussa FAYE), il se fixe comme principal objectif: le retour et la réinsertion des enfants en rupture familiale (E.R.F) communément appelé « enfants de la rue ».</p>
                <p>Le Centre Terrou Xaleyi, a la volonté de redonner un visage humain à ces jeunes qui vivent dans la rue.</p>
                <p>Ainsi les activités développées en son sein permettent de leur faire comprendre et prendre conscience de leurs droits malgré les situations dans lesquelles ils vivent.</p><br>
              <h3>Nom du projet :</h3>
                <p><strong>Projet de sensibilisation, d’écoute, de médiation, de réinsertion et de suivi des enfants de la rue.</strong></p><br>
            </div>
          </div>
          <!-- /.row -->
          <hr>

          <div class="row">
            <div class="col-lg-12 text-center">
              <h2>Contexte général</h2>
              <div class="col-md-6">
                <div class="panel panel-default text-center">
                  <div class="panel-heading">
                    <h3>Réalités sociales</h3>
                  </div>
                  <div class="panel-body contexte-general">
                    <p>La recherche d’une vie meilleure a toujours provoqué des mouvements de populations des zones qui offrent moins de possibilités d’épanouissement vers celles qui plus de perspectives heureuses.</p>
                    <p>C’est cela également qui explique l’exode rural, malgré les efforts de l’état pour résorber les disparités régionales. Or tous ces déplacements ne sont pas toujours récompensés.</p>
                    <p>Nombreux sont des sont des familles qui prise dans l’engrenage contradictoire des rêves et des déceptions survivent. Quant à leurs enfants ils déjà succombé à la tentation de résider au quartier général.</p>
                    <p>A cela s’ajoute la pauvreté absolue de ses familles qui leur oblige à résider dans les quartiers populaires de la banlieue de Dakar.</p>
                    <p>Au Sénégal, les enfants identifiés sous les vocables « enfants de la rue » ou « enfants dans les rues » sont ceux qui sont en rupture familiale partielle ou totale avec, pour la plus part, sans projet de retour.</p>
                    <p>Il s’agit d’enfants bohèmes adoptant la rue comme cadre et parcours de vie; précédemment victimes, souvent à répétition, soit d’un environnement socio-économique chaotique, soit de l’exploitation d’un tiers et sont souvent amenés, dans leur nouvelle situation, à entrer en conflit avec la loi.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="panel panel-default text-center">
                  <div class="panel-heading">
                    <h3>Enfants de la rue</h3>
                  </div>
                  <div class="panel-body contexte-general">
                    <p>Sous ce concept, on regroupe tous les jeunes gens dont l’âge se situe entre sept)07) et vingt) 20) ans et qui ont choisi comme domicile les lieux publics) marchés, gares routières, trottoirs des routes, sous les ponts les bâtiments abandonnés etc.)</p>
                    <p>Ils vivent généralement du revenu de petites corvées ; mais aussi et surtout de mendicité et racket.</p>
                    <p>Il faut distinguer entre enfant de la rue et enfant dans la rue. En effet, ce dernier renvoie à tous ces jeunes gens de la même tranche d’’âge, qui résident chez leur parents ou chez un tuteur et qui passent la majeure partie de la journée dans lieux publics.</p>
                    <p>Ainsi la différence entre ces deux groupes d’enfants se situe au niveau du lien avec la avec la famille. Si les premiers ont échappés à l’autorité parentale et gèrent de se fait entièrement leur vie, les second continuent de vivres sous une autorité parentale quelque peu effrité.</p>
                    <p>C’est des jeunes qui sont issus pour la majeure partie des familles très pauvres et d’autres encore ont fugués des daara.</p>
                    <p>Les facteurs favorisants sont la crise d’adolescence ; quête identitaire, besoin de liberté et d’autonomie fondent parfois les fugues par lesquelles certains enfants quittent le domicile parental pour la rue.</p>
                    <p>Mais pour la majeure partie proviennent des daaras où ils fuient la maltraitance, les sévices corporels, causés par leurs maîtres pour se retrouver dans la rue.</p>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="col-md-6">
                <div class="panel panel-default text-center">
                  <div class="panel-heading">
                    <h3>Les difficultés et atteintes aux droits des enfants :</h3>
                  </div>
                  <div class="panel-body">
                    <p>Plusieurs facteurs sont à la source de cette situation, entre autres : la pauvreté, la déstructuration des familles, les problèmes liés à la mendicité et au travail des enfants, le phénomène de l’urbanisation déséquilibrée, etc.</p>
                    <p>Dans cette optique,les autorités publiques, les institutions internationales et certaines organisations de la société civile en sont conscients et tentent d’y apporter une solution mais, le phénomène reste lancinant et persistant et, parfois, se mue en prenant d’autres formes avec de nouvelles propensions.</p>
                    <p>En effet leur nombre reste croissant et leur situation difficile.</p>
                    <p>Livrés à eux même, ces enfants sont exploités, victimes d’abus de toute sorte,usant de vol, de drogue et prostitution pour survivre, car ils ne bénéficient d’aucune aide ni de ressources.</p>
                    <p>Dès lors, la prise en charge des enfants en rupture familiale reste cruciale et nécessite des actions multiples sur divers segments, au regard de la complexité de la problématique.</p>
                    <p>L’humanité doit donner à l’enfant ce qu’elle a de meilleur.</p>
                    <p>C’est sur ces mots, qu’est adoptée en 1924 la déclaration de Genève relative aux droits de l’enfant.</p>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-lg-12">
              <div class="panel panel-default text-center">
                <div class="panel-heading">
                  <h3>Une problématique amplifiée, complexe et méconnue</h3>
                </div>
                <div class="panel-body">
                  <p>Au Sénégal, le phénomène des enfants de et dans la rue se caractérise essentiellement par son ampleur avec des chiffres impressionnants, ses facteurs pathogènes expulsifs, multiples, sensibles et persistants, sa représentation de situations variées avec des besoins spécifiques et son domaine d’intervention fluctuant.</p>
                  <h3>Ampleur du phénomène : faits et chiffres alarmants</h3>
                  <article>
                    La problématique des enfants de et dans la rue au Sénégal connait une ampleur et une importance démesurées et il est particulièrement difficile de les estimer étant donné qu’ils échappent aux dispositifs et cadres classiques de recensement éducatifs, sociaux et familiaux.
                    Composante importante de cette population, les enfants de la rue ou mendiants suscitent un intérêt particulier. En octobre 1991, une étude de l’Unicef sur la situation de l’enfant et de la femme au Sénégal évaluait de 50.000 à 100.000 le nombre de talibés mendiants.
                    En 2008, il y aurait plus de 100.000 enfants impliqué(e)s dans la mendicité au Sénégal. En 2000, l’analyse de la situation de l’enfant et de la femme effectuée par Save the Children Suède révèle qu’il y a plus de trente-neuf mille (39.000) enfants de la rue ou mendiants, âgés de (05) à quatorze (14) ans au Sénégal.<br>
                    Le phénomène est plus accentué dans la région de Dakar, capitale du Sénégal. En 2000, l’Organisation Internationale pour les Migrations (OIM) estimait le nombre d’enfants de la rue à 19.000.
                    Le constat d’une recrudescence du nombre des enfants rencontrés en rue est partagé par l’APRER Sénégal. En effet, en 2015 Dans son rapport, l’APRER Sénégal a déjà identifié, sur la base de 04 ans d’activités, 2.391 enfants différents, avec une fréquence en 2015 de 15 nouveaux enfants rencontrés chaque mois et en moyenne annuelle (pour 2012, 2013 et 2014) 340 nouveaux enfants répertoriés.
                    <br>Dans leur immense majorité, les enfants de la rue de Dakar sont des garçons (90%). Les filles sont essentiellement des bébés et des enfants dits accompagnés, c'est-à-dire ces enfants très jeunes, parfois nouveaux nés, qui passent du temps dans la rue avec leur mère, sœur, tante, grand-mère... pour mendier.<br>
                    Dans la même perspective, les travaux de recherche que nous avons mené ont mis en évidence que près de 7.600 enfants se livrent à la mendicité dans les rues de la région de Dakar dont 2.200 de ces enfants sont dans le département de Dakar (30%), 1.900 dans le département de Pikine (25 %), 1.880 dans le département de Rufisque (25%) et 1.480 dans le département de Guédiawaye (20%).
                    Dans l’ensemble, les enfants de la rue sont très jeunes : leur moyenne d’âge se situe autour de 15 ans le plus jeune avait 05 ans lors de nos actions rue, et près de la moitié n’avait pas 15 ans.
                    Les garçons représentent la quasi-totalité des enfants de la rue, les filles ne sont que très marginalement concernées. La grande majorité des enfants de la rue (90%) sont des talibés. La grande majorité des enfants mendiants (95%) de la région de Dakar sont partis, à l’origine d’autres régions du Sénégal ou de pays limitrophes.
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
